<div class="card w-75">
        <div class="card-body">
          <h4 class="card-title">{{event.event_name}}</h4>
          <p class="card-text">Date: {{event.date | date: short}}</p>
          <p class="card-text">Time: {{event.start_time}} -- {{event.end_time}}</p>
          <p class="card-text">Address: {{event.address}}</p>
          <p class="card-text">Event Type: {{event.event_type}}</p>
          <p class="card-text">Dress Code: {{event.dress_code}}</p>
          <p class="card-text">Creator: {{event.creator_id}}</p>
          <p class="card-text">Description: {{event.description}}</p>
          <a href="#" class="btn btn-primary">Register</a>
          <a href="#" class="btn btn-primary">Back</a>
        </div>
      </div>