<div class="px-3 mb-2">
  <h4>Available Events</h4>
  <div class="row">
    <div *ngFor="let event of events" class="col-sm-6" (click)="onSelect(event)"
     [class.selected]="event === selectedEvent">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{event.event_name}}</h5>
          <p class="card-text"><strong>Date: </strong>{{event.date | date: short}}</p>
          <p class="card-text"><strong>Time: </strong>{{event.start_time}} -- {{event.end_time}}</p>
          <strong>Participants: </strong>
          <div *ngFor="let user of event.users" class="font-weight-light">
            {{user.fname}} {{user.lname}}
        </div>
          <a href="#" (click)="test()" class="btn btn-primary">test</a>
            <!--This (click)="test()" also works. Can be implemented in register component-->
            <!--<button class="btn btn-primary" (click)="gotoDetail()" routerLink="detail/:id">View Details</button>-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventDetails">
                View Details
            </button>
            <register-event [event_idr]="event.event_id" [user_idr]="user_idr"></register-event>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="eventDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Event Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="card-title">{{selectedEvent.event_name}}</h5>
            <p class="card-text"><strong>Date: </strong>{{selectedEvent.date | date: short}}</p>
            <p class="card-text"><strong>Time: </strong>{{selectedEvent.start_time}} -- {{selectedEvent.end_time}}</p>
            <p class="card-text"><strong>Address: </strong>{{selectedEvent.address}}</p>
            <p class="card-text"><strong>Event Type: </strong>{{selectedEvent.event_type}}</p>
            <p class="card-text"><strong>Dress Code: </strong>{{selectedEvent.dress_code}}</p>
            <p class="card-text"><strong>Creator: </strong>{{selectedEvent.creator_id}}</p>
            <p class="card-text"><strong>Description: </strong>{{selectedEvent.description}}</p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
</div>

</div>
  