
<div class="px-3 mb-2">
<h4>Create a Event</h4>

<div class="w-50">
  
  <div [hidden]=true>
    <form>
      <div class="form-group">
          <label for="address">Creator ID</label>
          <input [(ngModel)]="newUser.user_id" type="text" class="form-control" id="creatorid" placeholder="{{this.user_idr}}" name="creator" readonly>
      </div>
      <div class="form-group">
          <label for="eventId">Creator First Name</label>
          <input [(ngModel)]="newUser.fname" type="text" class="form-control" id="fname" placeholder="{{this.user_fname}}" name="fname" readonly>
      </div>
      <div class="form-group">
        <label for="eventName">Creator Last Name</label>
        <input [(ngModel)]="newUser.lname" type="text" class="form-control" id="lname" placeholder="{{this.user_lname}}" name="lname" readonly>
      </div>
      <div class="form-group">
          <label for="address">Creator Email</label>
          <input [(ngModel)]="newUser.id" type="text" class="form-control" id="creatorid" placeholder="{{this.user_idr}}" name="email" readonly>
      </div>
    </form>
  </div>
  
  <form>
    <div class="form-group">
        <label for="address">Creator Email</label>
        <input [(ngModel)]="newEvent.creator_id" type="text" class="form-control" id="creator" placeholder="{{this.user_idr}}" name="creator" readonly>
    </div>
    <div class="form-group">
        <label for="eventId">Event ID</label>
        <input type="text" class="form-control" id="eventId" placeholder="Auto-generate" readonly>
    </div>
    <div class="form-group">
      <label for="eventName">Event Name</label>
      <input [(ngModel)]="newEvent.event_name" type="text" class="form-control" id="eventName" placeholder="Enter event name" name="event_name">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input [(ngModel)]="newEvent.date" type="date" class="form-control" id="date" placeholder="Enter event date" name="date">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
            <label for="date">Start Time</label>
            <input [(ngModel)]="newEvent.start_time" type="time" class="form-control" id="time" placeholder="Enter event time" name="stime">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label for="date">End Time</label>
            <input [(ngModel)]="newEvent.end_time" type="time" class="form-control" id="time" placeholder="Enter event time" name="etime">
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input [(ngModel)]="newEvent.address" type="text" class="form-control" id="address" placeholder="Enter event address" name="address">
    </div>
    <div class="form-group">
        <label for="eventType">Event Type</label>
        <select [(ngModel)]="newEvent.event_type" class="form-control" id="eventType" name="event_type">
            <option>Public</option>
            <option>Invited Only</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dressCode">Dress Code</label>
        <select [(ngModel)]="newEvent.dress_code" class="form-control" id="dressCode" name="dress_code">
            <option>Casual</option>
            <option>Formal</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Event Description</label>
        <textarea [(ngModel)]="newEvent.description" class="form-control" id="description" rows="4" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createUser(newUser);createEvent(newEvent)">Create Event and User</button>
    <button type="submit" class="btn btn-primary" (click)="goBack()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="createUser(newUser)">create user</button>
  </form>
</div>
