
<div [hidden]=true>
        <form>
          <div class="form-group">
              <label for="address">User Id</label>
              <input [(ngModel)]="newRegistration.ruser_id" type="text" class="form-control" placeholder="{{this.user_idr}}" name="userId" readonly>
          </div>
          <div class="form-group">
              <label for="eventId">Event Id</label>
              <input [(ngModel)]="newRegistration.revent_id" type="text" class="form-control" placeholder="{{this.event_idr}}" name="eventId">
          </div>
        </form>
</div>

<button type="submit" class="btn btn-primary" (click)="register(newRegistration)">Register</button>