<div class="px-3 mb-2">
  <ngb-tabset type="pills" justify="center">
    <ngb-tab title="As Guest">
      <ng-template ngbTabContent>Registered events:
        <br/>
        <div class="row">
          <div class="col-sm-6" *ngFor="let registeredEvent of registeredEvents">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{registeredEvent.event_name}}</h5>
                <p class="card-text"><strong>Date: </strong>{{registeredEvent.date | date: short}}</p>
                <p class="card-text"><strong>Time: </strong>{{registeredEvent.start_time}} -- {{registeredEvent.end_time}}</p>
                <button type="button" class="btn btn-primary" (click)="test()">Unregister</button>
              </div>
            </div>
          </div>
        </div>
        </ng-template>
      </ngb-tab>
    <ngb-tab title="As Host">
      <ng-template ngbTabContent>Created events:
        <br/>
        
        <div class="row">
            <div class="col-sm-6" *ngFor="let event of events | eventfilter: user_idr">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{event.event_name}}</h5>
                  <p class="card-text"><strong>Date: </strong>{{event.date | date: short}}</p>
                  <p class="card-text"><strong>Time: </strong>{{event.start_time}} -- {{event.end_time}}</p>
                  <button type="button" class="btn btn-primary" (click)="test()">test user id</button>
                </div>
            </div>
            </div>
            
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>